.container {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading {
    margin-top: 13vh;
}

button {
    width: 200px;
    height: 40px;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    margin: 10px;
}

.logo-img {
    width: 150px;
}

.logo-img>img {
    width: 100%;
    opacity: 0;
}

.circle-container {
    display: flex;
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: #FDCF51;
    margin: 50px;
}

.circle.red {
    background-color: #FD5151;
    cursor: pointer;
}

.circle.blue {
    background-color: #51A0FD;
}

@media (max-width: 600px) {
    .container h1 {
        font-size: 2rem;
        margin-top: 10%;
    }
    .container h1 {
        margin-top: 20vh;
    }
}